* {
    margin: 0;
    padding: 0;
    /* para settear toda la pagina sin ocupar espacio mas que lo que ocupe la etiqueta */
}

body {
    background-image: url(../imagenes/background_image.jpg);
    background-size: cover;
    background-position: center;
    background-attachment:scroll;
}
ul{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    padding-left: 0;
}
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    
}
/* -------------------------------------------------------general */
header{
    display: grid;
    grid-template-columns:  0.3fr 1fr 0.8fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
   /*  "logo busqueda login"
    "navbar navbar navbar"; */
    "logo busqueda login"
    "logo navbar navbar";
    box-sizing: border-box;
    background-color: rgba(225, 233, 120, 0.705);
}
.logo{
    grid-area: logo;
    justify-self: center;
}
.imglogo {
    width: 125px;
    height: 125px;  
}
.barbusqueda{
    grid-area: busqueda;
    align-self: center;
    justify-self: center;
    position: relative;
}

.barbusqueda button{
    background-color: rgba(207, 230, 253, 0.753);
    position: absolute;
    border: 1px solid rgb(128, 101, 29);
    border-left: none;
    border-radius: 0 5px 5px 0;
    
}
input {
    width: 300px;
    height: 32px;
    border: 1px solid rgb(128, 101, 29);
    border-right: none;
    font-family: "Merri", serif;
    font-weight: 600;
    color: rgb(128, 101, 29);
    background-color: rgba(207, 230, 253, 0.753);
    outline: none; 
    border-radius: 5px 0 0 5px;
    padding-left: 5px;
    
}
.signin_signup{
    grid-area: login;
    justify-self: center;
}
.nav__bar{
    grid-area: navbar;
    padding-bottom: 10px;
    align-self: end;
}

.signin_signup a{
    display: inline-block;
    padding: 10px 10px 0 10px;
}
/* -------------------------------------------------------header */
.carrusel-img img{ /*imagenes para carrousel */
    height: 525px;
    width: 100%;
}
/* -------------------------------------------------------main */
.categorias{
    padding: 20px 0;
}
.categorias h2{
    text-align: center;
    margin-bottom: 20px;
}
/* -------------------------------------------------------section categorias*/
.contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 15px 0 15px;
}
.contacto h5{
    margin: 50px 0;
}
.contacto iframe{
    width: 400px;
    height: 220px;
    margin: 20px 0;
}
/* -------------------------------------------------------section contacto */
.line_footer{
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: auto 100px;
    grid-template-areas: 
    "line redes line2"
    ". subir copyR";
    padding-top: 40px;
}
.line{
    grid-area: line;
    align-self: center;
}
.line2{
    grid-area: line2
}

.redes{
    grid-area: redes;
    align-self: center;
}
.volver_ini{
    grid-area: subir;
    align-self: center;
    justify-self: center;
    padding: 10px 20px;
    background-color: rgba(224, 223, 141, 0.911);
    border-radius: 5px;
    border: 1px solid rgb(128, 101, 29);
}
.line_footer h5{
    grid-area: copyR;
    justify-self: end;
    align-self: end;
}
/* -------------------------------------------------------footer */
.nav__bar a, .signin_signup a, .categorias a, .line_footer a, span{
    font-size: 18px;    
}
.nav__bar a, .signin_signup a, .categorias a, .line_footer a, h2, h5, span, .art_desc a{
    font-family: "Merri", serif;
    color: rgb(128, 101, 29);
    font-weight: 600;
}
.categorias, .contacto, main, .line{
    border-top: 3px solid rgb(128, 101, 29);
}
.contacto iframe{
    border: solid 2px goldenrod;
    border-radius: 5px;
}
 .categorias, .contacto, #redes_sociales, .art_desc{
    background-color: rgba(160, 255, 239, 0.418);
}
.barbusqueda img,  .ico_chango img{
    width: 30px;
    height: 30px;
}
/* -------------------------------------------------------clases compartidas*/

/*
-------------------------------------------------------
-------------------------------------------------------
 css de catalogo */
.art_desc{
    height: 450px;
    overflow: auto;
    border: outset 3px rgba(255, 195, 31, 0.849);
    text-align: center;
    margin: 15px;
    scrollbar-width: none;
}
.carrito{
    border: solid 2px goldenrod;
    border-radius: 5px;
}
.art_desc ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 10px;
}
.art_desc li{
    display: flex;
    flex-direction: column;
}
.catego_catalogo{
    border-bottom: 3px solid rgb(128, 101, 29);
}
.ico_chango button{
    border: none;
    background-color: rgba(160, 255, 239, 0.418);
}
.ico_chango a{
    color: rgb(120, 2, 255);
}
/* ------------------------------------------------ */
/* css de sobre nosotros */
.informacion{
    width: 500px;
    text-align: center;
    position: relative;
    bottom: 90px;  
}
.informacion p,  .informacion a{
    font-size: 20px;
    background: #C4C41E;
    background: radial-gradient(ellipse farthest-corner at top right, #C4C41E 55%, #E8FF54 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.informacion h1, .carrito td, .carrito th{
    background: #8C8C15;
    background: repeating-radial-gradient(ellipse farthest-corner at top left, #8C8C15 83%, #E8FF54 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.info_logo img{
    width: 550px;
    height: 550px;
}
.nosotros{
    background-color: rgba(0, 0, 0, 0.801);
}
.maps iframe{
    width: 450px;
    height: 350px;
    margin-left: 10px;
    border: solid 2px goldenrod;
    border-radius: 5px;
}
.info_maps h2, .info_visita, .info_consulta{
    text-align: center;
}
.info_visita, .info_consulta{
    position:relative;
    bottom: 297px;
    margin: 0 30px;
}
.info_maps p{
    position: relative;
    top: 40px;
    font-size: 17px;
}
.info_maps h2{
    font-size: 26px;
}
/* ------------------------------------------ */
/* css de contacto */
.cont img, .contacto_maps img {
    width: 45px;
    height: 45px; 
    
}
.cont a{
    display: block;
    position: relative;
    bottom: 35px;
    left: 75px;
    
}
.cont a, .contacto_maps a{
    text-decoration: underline;
    font-family: "Merri", serif;
    font-weight: 600;
    color: rgb(128, 101, 29);
}
.cont{
    margin-left: 40px;
    position: relative;
    bottom: 237px;
}
.contacto_maps iframe{
    width: 525px;
    height: 425px;
    border: solid 2px goldenrod;
    border-radius: 5px;
    margin-bottom: 10px;
}
.contacto_maps img{
    display: block;
}
.contacto_maps{
    margin-left: 20px;
    text-align: center;
}
.main_contacto{
    padding-bottom:20px;
}

/* ------------------------------------------------ */
/* css de carrito de compras */
.carrito{
    text-align: center;
    position: relative;
}
table{
    background-color: #131312c5;
    border: solid 1px gold;
    display: inline-block;
}
td{
    padding: 10px;
    border: solid 1px gold;
}
.carrito span{
    display: block;
    right: 25px;
}

