@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  /* para settear toda la pagina sin ocupar espacio mas que lo que ocupe la etiqueta */
}

/* en style tendremos solo código importado de los partials, sin tener código adicional en sass */
.table-container span, .table-container h4, .table-container h1, .table-container {
  border: solid 1px goldenrod;
}

.name_street img, .cont img {
  width: 5.5vw;
  margin-right: 1.3vw;
}

.name_street img, .cont span, .cont img, .informacion a, .ico_chango button, .art_desc a, .volver_ini a, .redes a, .logo, .categorias a:not(.list-hambur a), .nav__bar a, .signin_signup a {
  position: relative;
  transition: all 0.35s ease;
  display: inline-block;
  padding: 0.3em 0.4em;
}
.name_street img:hover, .cont span:hover, .cont img:hover, .informacion a:hover, .ico_chango button:hover, .art_desc a:hover, .volver_ini a:hover, .redes a:hover, .logo:hover, .categorias a:hover:not(.list-hambur a), .nav__bar a:hover, .signin_signup a:hover {
  transform: scale(1.12);
}

.categorias a:not(.list-hambur a):before, .nav__bar a:before, .signin_signup a:before, .categorias a:not(.list-hambur a):after, .nav__bar a:after, .signin_signup a:after {
  content: "";
  height: 0.8em;
  width: 0.8em;
  position: absolute;
  transition: all 0.35s ease;
  opacity: 0;
}
.categorias a:not(.list-hambur a):before, .nav__bar a:before, .signin_signup a:before {
  content: "";
  right: 0;
  top: 0;
  border-top: 0.2em solid goldenrod;
  border-right: 0.2em solid rgba(104, 76, 0, 0.95);
  transform: translate(-1em, 0.5em);
}
.categorias a:not(.list-hambur a):after, .nav__bar a:after, .signin_signup a:after {
  content: "";
  left: 0;
  bottom: 0;
  border-bottom: 0.2em solid rgba(104, 76, 0, 0.95);
  border-left: 0.2em solid goldenrod;
  transform: translate(1em, -0.5em);
}
.categorias a:hover:not(.list-hambur a)::before, .nav__bar a:hover::before, .signin_signup a:hover::before, .categorias a:hover:not(.list-hambur a)::after, .nav__bar a:hover::after, .signin_signup a:hover::after {
  transform: translate(0, 0);
  opacity: 1;
}

.main_carrito p, .footer_contacto p, .footer_contacto a, .name_street span, .cont span, .title-contact, .art_desc a, .catalogo h1, .barbusqueda input, h3, h2, .volver_ini, .categorias a:not(.list-hambur a), .nav__bar a, .signin_signup a, span {
  font-family: "Merri", serif;
  font-weight: 600;
  color: rgba(104, 76, 0, 0.95);
}
.volver_ini, .categorias a:not(.list-hambur a), .nav__bar a, .signin_signup a, span {
  font-size: 1.8vw;
}

.informacion a, .informacion p {
  font-size: 20px;
  background: radial-gradient(ellipse farthest-corner at top right, #C4C41E 55%, #E8FF54 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.line, .contacto, .categorias, main {
  border-top: 3px solid rgba(104, 76, 0, 0.95);
}

.main_contacto iframe, .maps iframe, .carrito, .contacto iframe {
  border: solid 2px goldenrod;
  border-radius: 5px;
}

.ico_chango img, .barbusqueda img {
  width: 30px;
  height: 30px;
}

.footer_contacto a, .volver_ini {
  grid-area: subir;
  align-self: center;
  justify-self: center;
  padding: 0.5em 1em;
  background-color: rgba(224, 223, 141, 0.911);
  border-radius: 5px;
  border: 1px solid rgba(104, 76, 0, 0.95);
}

.table-container span, .table-container h4, .table-container h1, .informacion h1 {
  background-image: repeating-radial-gradient(ellipse farthest-corner at top left, #8C8C15 83%, #E8FF54 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  animation: animate 3s infinite;
}

.footer_contacto, .main_contacto, .art_desc, .catalogo, #redes_sociales, .contacto, .categorias {
  background-color: rgba(160, 255, 239, 0.418);
}

/* -------------------------------------------------------selectores compartidos*/
body {
  background-image: url(../imagenes/background_image.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
}
/* -------------------------------------------------------general */
header {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.8fr;
  grid-template-rows: auto auto;
  gap: 0;
  grid-template-areas: "logo busqueda login" "logo navbar navbar";
  box-sizing: border-box;
  background-color: rgba(225, 233, 120, 0.705);
  padding-right: 0.5rem;
}

.logo {
  grid-area: logo;
  justify-self: center;
}

.imglogo {
  width: 8rem;
  height: 8rem;
}

.barbusqueda {
  grid-area: busqueda;
  align-self: center;
  justify-self: center;
  position: relative;
  width: 70%;
}
.barbusqueda input {
  width: 100%;
  height: 32px;
  border: 1px solid rgba(104, 76, 0, 0.95);
  border-right: none;
  background-color: rgba(207, 230, 253, 0.753);
  outline: none;
  border-radius: 5px 0 0 5px;
  padding-left: 5px;
}
.barbusqueda button {
  background-color: rgba(207, 230, 253, 0.753);
  position: absolute;
  border: 1px solid rgba(104, 76, 0, 0.95);
  border-left: none;
  border-radius: 0 5px 5px 0;
}

.boton-hambur {
  display: none;
}

.signin_signup {
  grid-area: login;
  justify-self: end;
  margin-top: 10px;
}
.signin_signup a {
  display: inline-block;
  margin: 0 0.4rem;
}

.nav__bar {
  grid-area: navbar;
  padding: 0 15px 10px 0;
  align-self: end;
}
.nav__bar li {
  display: flex;
  align-items: center;
}
.nav__bar a span {
  display: block;
  text-align: center;
}

/* -------------------------------------------------------header */
.carrusel-img img { /*imagenes para carrousel */
  height: 90vh;
  width: 100vw;
}

/* -------------------------------------------------------main */
.categorias {
  padding: 20px 0;
}
.categorias h2 {
  text-align: center;
  margin: 0;
}
.boton-hambur {
  display: none;
}

/* -------------------------------------------------------section categorias*/
.contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1.2rem 0.9rem 0 0.75rem;
  text-align: center;
}
.contacto h3 {
  margin: 50px 0;
}
.contacto iframe {
  width: 95vw;
  height: 300px;
  margin: 20px 0;
}

/* -------------------------------------------------------section contacto */
.line_footer {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: auto 100px;
  gap: 0;
  grid-template-areas: "line redes line2" ". subir copyR";
  padding-top: 40px;
}
.line_footer h3 {
  grid-area: copyR;
  place-self: end;
  margin-right: 20px;
}

.line {
  grid-area: line;
  align-self: center;
}

.line2 {
  grid-area: line2;
}

.redes {
  grid-area: redes;
  align-self: center;
}
.redes img {
  width: 5em;
  height: 5em;
}
.gmail {
  display: none;
}

/* -------------------------------------------------------footer */
.catalogo h1 {
  margin-bottom: 0;
  padding: 1rem 0;
  padding-left: 1rem;
}

.art_desc {
  text-align: center;
  padding: 0.2rem;
}
.art_desc ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
}
.art_desc li {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
}
.art_desc a {
  font-size: 1.2em;
}
.art_desc span {
  font-size: 1.2em;
}

.catego_catalogo {
  border-bottom: 3px solid rgba(104, 76, 0, 0.95);
}

.ico_chango button {
  border: none;
  background-color: transparent;
}
.ico_chango a {
  color: rgb(120, 2, 255);
}
/*
-------------------------------------------------------
-------------------------------------------------------
 css de catalogo */
.nosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.801);
}

.informacion {
  width: 27rem;
  text-align: center;
  align-self: center;
  margin: 30px 0;
}
.informacion p {
  padding: 15px;
}
.info_logo {
  align-self: center;
}
.info_logo img {
  width: 50vw;
}

.maps iframe {
  width: 450px;
  height: 350px;
  margin-left: 10px;
}

/* ------------------------------------------------ */
/* css de sobre nosotros */
.main_contacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 50px;
  gap: 0;
  grid-template-areas: "title-contact title-location" "cont contacto_maps" ". name_street";
  align-items: center;
  padding: 1rem 2rem 50px 2rem;
}
.main_contacto iframe {
  width: 50vw;
  height: 50vh;
  margin-left: 0.8vw;
}

.title-contact {
  grid-area: title-contact;
  font-size: calc(1.325rem + 0.9vw);
  text-align: center;
}

.title-location {
  grid-area: title-location;
  text-align: center;
}

.cont {
  grid-area: cont;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.cont span {
  display: inline-block;
  margin: 1.2rem 0;
  font-size: 2.5vw;
}

.name_street {
  grid-area: name_street;
}
.name_street span {
  display: inline-block;
  font-size: 2.15vw;
  margin-top: 1.2rem;
}

.contacto_maps {
  grid-area: contacto_maps;
}

.footer_contacto {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 100px;
  gap: 0;
  grid-template-areas: "line volver line2" ". . copyr";
  padding-top: 50px;
}
.footer_contacto a {
  grid-area: volver;
}
.footer_contacto p {
  grid-area: copyr;
  place-self: end;
  margin-right: 1.5rem;
  font-size: calc(1.3rem + 0.6vw);
}

/* ------------------------------------------ */
/* css de contacto */
.main_carrito {
  text-align: center;
  margin: 20px;
}
.main_carrito p {
  font-size: 20px;
  margin: 20px 20px;
}

.table-container {
  display: grid;
  grid-template-columns: 1fr 2fr repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 0;
  box-sizing: border-box;
  background-color: rgba(19, 19, 18, 0.7725490196);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.table-container :first-child {
  grid-column-start: 1;
  grid-column-end: 6;
  border: 0;
}
.table-container :nth-last-child(2) {
  grid-column-start: 1;
  grid-column-end: 5;
  justify-self: end;
  border: none;
  padding-right: 5px;
}
.table-container :last-child {
  border-top: none;
  border-right: none;
  border-bottom: none;
}
.table-container h1 {
  font-size: 5vw;
}
.table-container h4 {
  margin: 0;
  border-right: 0;
  font-size: 4vw;
}
.table-container span {
  border-top: 0;
  border-right: 0;
  font-size: 3.2vw;
}

.tyc {
  margin-top: 40px;
}

/* ------------------------------------------------ */
/* css de carrito de compras */
@media screen and (max-width: 576px) {
  body {
    background-image: url(../imagenes/fondo_mobile.png.jpg);
  }
  header {
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  .boton-hambur {
    display: inline-block;
    background-color: rgba(133, 221, 250, 0.9058823529);
  }
  .boton-hambur span {
    color: aliceblue;
    font-size: 25px;
  }
  .dropdown-toggle {
    width: 70px;
    height: 55px;
  }
  .boton-hambur:hover, .list-hambur {
    background-color: #5fc8ec;
  }
  .boton-hambur:checked + .boton-hambur,
  .boton-hambur.active,
  .boton-hambur.show,
  .boton-hambur:first-child:active,
  :not(.boton-hambur) + .boton-hambur:active {
    background-color: #5fc8ec;
  }
  .list-hambur a {
    color: aliceblue;
    font-family: "Merri", serif;
    font-weight: 600;
    transition: all 0.35s ease;
  }
  .list-hambur a:hover {
    color: aliceblue;
    background-color: rgba(120, 90, 252, 0.884);
    transform: scale(1.12);
  }
  .carrusel-img img {
    height: 435px;
  }
  .categorias, .contacto, #redes_sociales, .main_contacto, .footer_contacto {
    background-color: transparent; /* selectores compartidos */
  }
  .nav__bar, .signin_signup, .line, .volver_ini, .index_visita h2, .index_consulta h5, .barbusqueda, .categorias ul, .cont span, .footer_contacto a {
    display: none; /* selectores compartidos */
  }
  .categorias h2, .contacto h2 {
    font-size: 8.7vw;
  }
  .categorias {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .contacto {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .contacto iframe {
    width: 95vw;
    height: 50vh;
  }
  .index_visita h3 {
    display: inline-block;
    margin-top: 0;
    font-size: 23px;
    letter-spacing: 1px;
  }
  .line_footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .redes {
    align-self: normal;
  }
  .redes li {
    display: flex;
  }
  .redes img {
    height: 5rem;
    width: 5rem;
  }
  .line_footer h3 {
    place-self: center;
    padding-top: 20px;
    font-size: 30px;
  }
  /* media query de catalogo */
  .catalogo h1 {
    text-align: center;
    font-size: 32px;
  }
  .art_desc ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .art_desc span, .art_desc a {
    font-size: 25px;
  }
  .ico_chango button, .art_desc {
    background-color: transparent;
  }
  /* media query de sobre nosotros */
  .nosotros img {
    width: 85vw;
  }
  /* media query de contacto */
  .main_contacto {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0 1rem;
    align-items: normal;
    gap: 1.3rem;
    margin-bottom: 3rem;
  }
  .main_contacto .cont {
    flex-direction: row;
    justify-content: space-between;
  }
  .main_contacto .cont img {
    width: 18vw;
  }
  .main_contacto iframe {
    width: 93vw;
  }
  .main_contacto .name_street {
    display: flex;
    flex-direction: row;
  }
  .main_contacto .name_street img {
    width: 15vw;
  }
  .main_contacto .name_street span {
    font-size: 4.7vw;
  }
  .footer_contacto {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  .footer_contacto p {
    display: inline-block;
    margin-right: 0;
  }
  /* media querie carrito */
  .main_carrito {
    margin: 0;
  }
  .table-container h1 {
    font-size: 8vw;
  }
  .table-container h4 {
    font-size: 4.5vw;
  }
  .table-container span {
    font-size: 4.5vw;
  }
}

/*# sourceMappingURL=style.css.map */
