.art_desc{
    height: 450px;
    overflow: auto;
    border: outset 3px map-get($map_colores, borde_catalogo);
    text-align: center;
    margin: 15px;
    scrollbar-width: none;
    ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding: 10px;
    }
    li{
        display: flex;
        flex-direction: column;  
    }
    a{
        @extend %tipografia_merri;
    }
}
.carrito{
    @extend %b_curve_gold;
}
.catego_catalogo{
    border-bottom: 3px solid map-get($map_colores, dorado_opaco);
}
.ico_chango{
    button{
        border: none;
        background-color: transparent;
    } 
    a{
        color: map-get($map_colores, a_carrito);
    }
}
/*
-------------------------------------------------------
-------------------------------------------------------
 css de catalogo */