.art_desc{
    height: 450px;
    overflow: auto;
    border: outset 3px rgba(255, 195, 31, 0.849);
    text-align: center;
    margin: 15px;
    scrollbar-width: none;
    ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding: 10px;
    }
    li{
        display: flex;
        flex-direction: column;  
    }
}
.carrito{
    border: solid 2px goldenrod;
    border-radius: 5px;
}
.catego_catalogo{
    border-bottom: 3px solid rgb(128, 101, 29);
}
.ico_chango{
    button{
        border: none;
        background-color: transparent;
    } 
    a{
        color: rgb(120, 2, 255);
    }
}