.catalogo h1{
    margin: 15px 0 0 15px;
    @extend %tipografia_merri;
}
.art_desc{
    height: 450px;
    overflow: auto;
    border: outset 3px map-get($map_colores, borde_catalogo);
    text-align: center;
    margin: 15px;
    scrollbar-width: none;
    @extend %fondo_azulejo;
    ul{
        @include layout_grid(grid, repeat(3, 1fr), auto, 1rem);
        padding: 10px;
    }
    li{
        display: flex;
        flex-direction: column;  
    }
    a{
        @extend %tipografia_merri;
    }
}
.carrito{
    @extend %b_curve_gold;
}
.catego_catalogo{
    border-bottom: 3px solid map-get($map_colores, dorado_opaco);
}
.ico_chango{
    button{
        border: none;
        background-color: transparent;
    } 
    a{
        color: map-get($map_colores, a_carrito);
    }
    img{
        @extend %size_ico;
    }
}
/*
-------------------------------------------------------
-------------------------------------------------------
 css de catalogo */