.categorias{
    padding: 20px 0;
    @extend %linea_divisora;
    @extend %fondo_azulejo;
    h2{
        text-align: center;
        margin: 0;
    }
    a{
        &:not(.list-hambur a){
            @extend %tipografia_merri_size;
            @extend %trans_scale_enlace_after;
        }
    }
}
.boton-hambur{
    display: none;
}
/* -------------------------------------------------------section categorias*/