.contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 15px 0 15px;
    @extend %linea_divisora;
    h5{
        margin: 50px 0;
    }
    iframe{
        width: 400px;
        height: 220px;
        margin: 20px 0;
        @extend %b_curve_gold;
    }
}
/* -------------------------------------------------------section contacto */