#redes_sociales{
    @extend %fondo_azulejo;
}
.line_footer{
    @include layout_grid(grid, 0.5fr 1fr 0.5fr, auto 100px, 0);
    grid-template-areas: 
    "line redes line2"
    ". subir copyR";
    padding-top: 40px;
    h3{
        grid-area: copyR;
        place-self: end;
        margin-right: 20px;
    }
}
.line{
    grid-area: line;
    align-self: center;
    @extend %linea_divisora;
}
.line2{
    grid-area: line2;
}

.redes{
    grid-area: redes;
    align-self: center;
    img{
        width: 5em;
        height: 5em;
    }
    a{
        @extend %trans_scale_enlace;
    }
}
.volver_ini{
    @extend %tipografia_merri_size;
    @extend %boton_subir;
    a{
        @extend %trans_scale_enlace;
    }
}
.gmail{
    display: none;
}
/* -------------------------------------------------------footer */