/* -------------------------------------------------------selectores compartidos*/

body {
    background-image: url(../imagenes/background_image.jpg);
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    overflow-x: hidden;
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* ver si hacerlo con map */
    margin-bottom: 0;
    padding-left: 0;
}
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    
}
span{
    @extend %tipografia_merri_size;
}
h2{
    @extend %tipografia_merri;
}
h5{
    @extend %tipografia_merri;
}
main{
    @extend %linea_divisora;
}
@keyframes animate{
    0%{
        background-position: 0 0;
    }
    25%{
        background-position: 100% 0;
    }
    50%{
        background-position: 100% 100%;
    }
    75%{
        background-position: 0 100%;
    }
    100%{
        background-position: 0 0;
    }
}
/* -------------------------------------------------------general */