header{
    display: grid;
    grid-template-columns:  0.3fr 1fr 0.8fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
   /*  "logo busqueda login"
    "navbar navbar navbar"; */
    "logo busqueda login"
    "logo navbar navbar";
    box-sizing: border-box;
    background-color: map-get($map_colores, fondo_header);
}
.logo{
    grid-area: logo;
    justify-self: center;
}
.imglogo {
    width: 125px;
    height: 125px;  
}
.barbusqueda{
    grid-area: busqueda;
    align-self: center;
    justify-self: center;
    position: relative;
    button{
        background-color:  map-get($map_colores, fondo_input);
        border: 1px solid map-get($map_colores, doraco_opaco);
        border-left: none;
        border-radius: 0 5px 5px 0;
    }
}
.boton-hambur{
    display: none;
}
input {
    width: 300px;
    height: 32px;
    border: 1px solid map-get($map_colores, dorado_opaco);
    border-right: none;
    @extend %tipografia_merri;
    background-color: map-get($map_colores, fondo_input);
    outline: none; 
    border-radius: 5px 0 0 5px;
    padding-left: 5px;
    
}
.signin_signup{
    grid-area: login;
    justify-self: center;
    a{
        display: inline-block;
        padding: 10px 10px 0 10px;
        @extend %tipografia_merri_size;
    }
}
.nav__bar{
    grid-area: navbar;
    padding-bottom: 10px;
    align-self: end;
    a{
        @extend %tipografia_merri_size;
    }
}
/* -------------------------------------------------------header */