@include breakpoint(){
    body{
        background-image: url(../imagenes/fondo_mobile.png.jpg);
    }
    header{
        display: flex;
        background-color:transparent;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    .boton-hambur{
        display: inline-block;
        background-color: map-get($map_colores, btn_hambur_noactive);
        span{
            color: map-get($map_colores, ico_hambur);
            font-size: 25px;
        }
    }
    .dropdown-toggle{
        width: 70px;
        height: 55px;
    }
    .boton-hambur:hover, .list-hambur{
        background-color: map-get($map_colores, btn_hambur_active);
    }
    .boton-hambur:checked+.boton-hambur, 
    .boton-hambur.active, 
    .boton-hambur.show, 
    .boton-hambur:first-child:active, 
    :not(.boton-hambur)+.boton-hambur:active{
        background-color: map-get($map_colores, btn_hambur_active);
    }
    .list-hambur {
        a{
            color: map-get($map_colores, ico_hambur);
            font-family: "Merri", serif;
            font-weight: 600;
            transition: all .35s ease;
            &:hover{
                color: aliceblue;
                background-color: rgba(120, 90, 252, 0.884);
                transform: scale(1.12);
            }
        }
    }
    .carrusel-img img{
        height: 435px;
    }
    .categorias, .contacto, #redes_sociales, .main_contacto, .footer_contacto{
        background-color: transparent;/* selectores compartidos */
    }
    .nav__bar, .signin_signup, .line, .volver_ini, .index_visita h2, .index_consulta h5, .barbusqueda, .categorias ul, .cont span, .footer_contacto a{
        display: none; /* selectores compartidos */
    }
    .categorias h2, .contacto h2{
        font-size: 8.7vw;
    }
    .categorias{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    } 
    .contacto{
        flex-direction: column;
        align-items: center;
        text-align: center;
        iframe{
            width: 95vw;
            height: 50vh;
        }
    }
    .index_visita h3{
        display: inline-block;
        margin-top: 0;
        font-size: 23px;
        letter-spacing: 1px;
    }
    .line_footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .redes{
        align-self: normal;
        
        li{
            display: flex;
        }
        img{
            height: 5rem;
            width: 5rem;
        }
    }
    .line_footer h3{
        place-self: center;
        padding-top: 20px;
        font-size: 30px;
    }
    /* media query de catalogo */
    .catalogo{
        h1{
            text-align: center;
            font-size: 32px;
        }
    }
    .art_desc ul{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .art_desc span, .art_desc a{
        font-size: 25px;
    }
    .ico_chango button, .art_desc{
        background-color: transparent;
    }
    /* media query de sobre nosotros */
    .nosotros img{
        width: 85vw;
    }
    /* media query de contacto */
    .main_contacto{
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem 0 1rem;
        align-items: normal;
        gap: 1.3rem;
        margin-bottom: 3rem;
        .cont{
            flex-direction: row;
            justify-content: space-between;
            img{
                width: 18vw;
            }
        }
        iframe{
            width: 93vw;
        }     
        .name_street{
            display: flex;
            flex-direction: row;
            img{
                width: 15vw;
            }
            span{
                font-size: 4.7vw;
            }
        }
    }
    .footer_contacto {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        p{
            display: inline-block;
            margin-right: 0;
        }
    }
    /* media querie carrito */
    .main_carrito{
        margin: 0;
    }
    .table-container{
        h1{
            font-size: 8vw;
        }
        h4{
            font-size: 4.5vw;
        }
        span{
            font-size: 4.5vw;
        }
    }
}

