.nosotros{
    @include layout_flex(flex, row, wrap, space-around);
    background-color: map-get($map_colores, fondo_info);
}
.informacion{
    width: 500px;
    text-align: center;   
    align-self:center;
    margin: 30px 0;
    p{
        padding: 15px;
        @extend %text_gradient_gold;
    }
    a{
        @extend %text_gradient_gold;
    }
    h1{
        @extend %gradient_text_2;
    }
}
.info_logo{
    img{
        width: 550px;
        height: 550px;
    }
}
.maps{
    iframe{
        width: 450px;
        height: 350px;
        margin-left: 10px;
        @extend %b_curve_gold;
    }
}
/* ------------------------------------------------ */
/* css de sobre nosotros */