$map_colores:(
    fondo_header: rgba(225, 233, 120, 0.705),
    dorado_opaco: rgb(128, 101, 29),
    fondo_input: rgba(207, 230, 253, 0.753),
    dorado: goldenrod,
    fondo_azulcristal: rgba(160, 255, 239, 0.418),
    fondo_btn_volver: rgba(224, 223, 141, 0.911),
    borde_catalogo: rgba(255, 195, 31, 0.849),
    a_carrito: rgb(120, 2, 255),
    fondo_info: rgba(0, 0, 0, 0.801),
    fondo_tabla: #131312c5,
    ico_hambur: aliceblue,
    btn_hambur_noactive: #85ddfae7,
    btn_hambur_active: #5fc8ec,
    shadow_table: rgba(0, 0, 0, 0.56),
);

